<!DOCTYPE html>
<head>
<title>Change Password</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='edits.css') }}">
<style>
body{
    background-color: linen;
}
footer {
color: maroon;
  text-align:center;
  font-family:Book Antiqua;
  position: fixed;
  bottom: 0;
  width: 100%;
}
h1 {
  color: maroon;
  text-align:center;
  font-family:Book Antiqua;
}
table,th,tr,td{
    padding: 5px;
	
    }

table{
    border-spacing: 15px;
	text-align: center;
     }
.button {
  color: maroon;
  font-family: Book Antiqua;
  background: #F2ACB9;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
</style>
</head>
<body>
  <div>
    <h1 style='font-family:Book Antiqua;'><em> View Your Photos </em></h1>
  </div><br>
	<form enctype="multipart/form-data" action="/home" method="POST">
		<button class="button">Home</button>
	</form>
	<br>
    <form method="POST" enctype="multipart/form-data" class="pure-form pure-form-aligned" id= 'changepassword-form' action="/change_password">
        <table cellspacing="10"  style=" border: 3px solid black" align="center">
            <tr>
                <th colspan="3" style=" color: maroon;font-family:Book Antiqua; "><h2><em>Change Login Password</em></h2></th>
            </tr>
            <br>
            {% for category, message in get_flashed_messages(with_categories = true) %}
                <div class = "alert alert-danger" style="text-align: center; color: rgb(192, 3, 3);font-style:italic bold">
                    {{ message }}
                </div>
            {% endfor %}
            <br>
            <tr><th style="color: maroon;font-family:Book Antiqua;">Old Password* :</th><td><input type="password" name="old_password" required/></td></tr>
            <tr><th style="color: maroon;font-family:Book Antiqua;">New Password* :</th><td><input type="password" name="new_password" required/></td></tr>
			<tr><th style="color: maroon;font-family:Book Antiqua;">Confirm New Password* :</th><td><input type="password" name="confirm_new_password" required/></td></tr>
            <tr><td colspan="3"><input type="submit" value="  Update Password  " style="color: maroon; font-family: Book Antiqua; background: #F2ACB9; color: black; border: none; border-radius: 15px; padding: 10px; text-align: center;" /></td></tr>
            <tr><th colspan="3"> * Represents Mandatory Fields</th></tr>
        </table>
    </form>
    
    <footer>
    <p><b>@Copyright of Subash Gupta Karamsetty, Raviteja Allu, Akhil Yarlagadda, Seema Srinivas, Sandeep Mandapati</b>
    </footer>   
</body>
</html>
